body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #f1f1f1;
  margin: 0;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

#logo,
#search,
#searchbutton,
#searchbar {
  display: inline-block;
}

#header {
  background-color: #fff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #e2e2e2;
  margin-bottom: 10px;
  height: 52px;
  width: 100%;
}

#logo {
  position: absolute;
  margin-left: 5%;
  margin-top: 10px;
  height: 31px;
  width: 79px;
}

#search {
  margin-left: 18%;
}

#searchbar:focus {
  outline: none;
  border-width: 2px;
  border-color: #1c62b9;
}

#searchbar {
  position: relative;
  bottom: 5px;
  font-size: 16px;
  margin-top: 12px;
  height: 22px;
  width: 46vw;
}

#searchbutton:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

#searchbutton {
  background-color: #f8f8f8;
  outline: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #e2e2e2;
  margin-left: -4px;
  margin-top: 12px;
  height: 28px;
  width: 65px;
}

#searchimg {
  width: 22px;
}

#filterblock {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #e2e2e2;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 830px;
}

#filterblock .filter-button:hover {
  cursor: pointer;
}

#filterblock .filter-button:active {
  background-color: #d8d8d8;
}

#filterblock .filter-button {
  background-color: #e9e9e9;
  border-color: #c6c6c6;
  border-radius: 3px;
  border-width: 1px;
  outline: 0;
  width: 60px;
  margin-top: 9px;
  margin-left: 15px;
  margin-bottom: 9px;
}

#filterblock .filter-results {
  float: right;
  font-weight: 300;
  font-size: 15px;
  margin-top: 10px;
  margin-right: 10px;
}

#filterblock .filter-icon {
  margin-left: 3px;
}

#filterblock .option-block {
  height: 30px;
}

#filterblock .toggle {
  border-bottom: 2px solid #e62117;
}

#filterblock .option:hover {
  cursor: pointer;
  background-color: #c8c8c8;
}

#filterblock .option {
  font-weight: 500;
  font-size: 20px;
  padding-top: 6px;
  padding-left: 10.55%;
  padding-right: 10.54%;
  padding-bottom: 6px;
}

#bottom-filter {
  margin-top: 5px;
}

#videoblock {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #e2e2e2;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
  width: 800px;
}

.videodetails {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 120px;
  width: 100%;
}

.videodetails .videotitle,
.videodetails .videochannel,
.videodetails .videoviews,
.videodetails .videodesc {
  position: absolute;
  padding-left: 29%;
}

.videodetails .videoimg {
  z-index: 2;
  position: absolute;
  height: 120px;
  width: 220px;
}

.videodetails .videotitle {
  font-size: 19px;
  font-weight: 400;
  top: -27px;
}

.videodetails .videochannel {
  color: #595959;
  font-size: 14px;
  top: 10px;
}

.videodetails .videoviews {
  color: #595959;
  font-size: 14px;
  top: 29px;
}

.videodetails .videodesc {
  color: #595959;
  font-size: 14px;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 50px;
  width: 550px;
  line-height: 1em;
  max-height: 3.1em;
}

#invalidsearch {
  background-color: #fff;
  font-size: 15px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #e2e2e2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 20px;
  width: 830px;
}

#viewingarea {
  position: relative;
  background-color: #000;
  margin-top: -10px;
  margin-bottom: 10px;
  height: 480px;
  width: 100%;
}

#embed {
  position: absolute;
  display: block;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  height: 480px;
}

#videoinfo {
  position: relative;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #e2e2e2;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 12px;
  height: auto;
  width: 75vw;
  min-width: 834px;
}

#videoinfo .title {
  margin: 0;
  padding-bottom: 10px;
  font-weight: 500;
  width: 70%;
}

#videoinfo .icon {
  display: inline-block;
}

#videoinfo .channel {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  width: 300px;
}

#videoinfo .channelwrap {
  display: inline-block;
  vertical-align: top;
  margin-left: 12px;
  height: 48px;
}

#videoinfo #subscribe.no:hover {
  cursor: pointer;
  background-color: #c92118;
}

#videoinfo #subscribe.no {
  background-color: #e62117;
  font-weight: 400;
  outline: 0;
  color: #fff;
  border-color: #e62117;
  border-radius: 2px;
  border-width: 1px;
  margin-top: 7px;
  width: 100px;
}

#videoinfo #subscribe.yes:hover {
  cursor: pointer;
}

#videoinfo #subscribe.yes:active {
  background-color: #ccc;
}

#videoinfo #subscribe.yes {
  background-color: #f8f8f8;
  font-weight: 400;
  outline: 0;
  border-color: #ccc;
  border-radius: 2px;
  border-width: 1px;
  margin-top: 7px;
  width: 100px;
}

#videoinfo .views {
  font-size: 22px;
  text-align: right;
  margin-top: -25px;
  margin-bottom: -10px;
  width: 98%;
}

#videoinfo .desc {
  font-size: 15px;
  border-top-style: solid;
  border-color: #e2e2e2;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width: 100%;
}

#addcomments {
  position: relative;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #e2e2e2;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 20px;
  width: 75vw;
  min-width: 834px;
  height: 125px;
}

#addcomments .header {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 12px;
}

#addcomments .author,
#addcomments .icon {
  height: 48px;
  width: 48px;
}

#addcomments .wrap {
  float: right;
  margin-right: 15px;
  width: 92%;
}

#addcomments .input {
  outline-width: thin;
  resize: none;
  font-size: 14px;
  width: 100%;
  height: 40px;
}

#addcomments .buttonwrap {
  margin-top: 10px;
  width: 100%;
}

#addcomments .cancelcomment:hover,
#addcomments .submitcomment:hover {
  cursor: pointer;
}

#addcomments .cancelcomment:active {
  background-color: #f0f0f0;
}

#addcomments .submitcomment:active {
  background-color: #165fc6;
}

#addcomments .cancelcomment {
  float: right;
  background-color: #f8f8f8;
  outline: 0;
  font-size: 11px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-right: 10px;
  height: 35px;
  width: 80px;
}

#addcomments .submitcomment {
  float: right;
  background-color: #167ac6;
  outline: 0;
  color: #fff;
  font-size: 11px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-right: -7px;
  height: 35px;
  width: 80px;
}

#usercomments {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #e2e2e2;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  width: 75vw;
  height: auto;
}

#usercomments .wrap,
#usercomments .author {
  display: inline-block;
  vertical-align: top;
}

#usercomments .wrap {
  margin-left: 15px;
  height: auto;
  min-height: 50px;
  width: 90%;
}

#usercomments .comment {
  margin-top: 10px;
  width: 100%;
}

#usercomments .author,
#usercomments .icon {
  height: 48px;
  width: 48px;
}

#usercomments .user {
  color: #128ee9;
  font-size: 16px;
  margin: 0;
  width: 40%;
}
